/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Montserrat';
}
.wrapper{
	width: 1920px;
	height: 4943px;
	background: white;
	margin: 0 auto;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
header{
	width: 1920px;
	height: 155px;
	margin: 0 auto;
}
.circle{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: black;
}
.logo{
	width: 70px;
	height: 155px;
	float: left;
	margin-top: 63px;
}
.logo img{
	margin-top: 15px;
	margin-left: 14px;
}
nav{
	width: 1100px;
	height: 155px;
	float: right;
	margin-top: 83px;
}
.menu ul{
	list-style: none;
	text-align: right;
}
.menu li{
	display: inline-block;
	margin-left: 47px;
}
.menu a{
	text-decoration: none;
	color: black;
	font-size: 14pt;
	display: block;
}
.menu a:hover{
	color: white;
}
.shop{
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	background: black;
	font-size: 14pt;
    cursor: pointer;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 7px;
	padding-top: 7px;
	margin-left: 32px;
}
.content{
	height: 4280px;
	width: 1920px;
}
.banner{
	width: 1920px;
	height: 1000px;
	position: relative;
}
.text{
	width: 700px;
	height: 273px;
	margin-left: 375px;
	position: absolute;
	top: 40%;
}
.text h2{
	font-size: 20pt;
	font-weight: bold;
	margin-left: 9px;
}
.love{
	font-size: 68pt;
	font-weight: bold;
}
.text p{
	font-size: 15pt;
	margin-top: 27px;
}
.me{
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	background: black;
	font-size: 14pt;
    cursor: pointer;
	padding-left: 33px;
	padding-right: 33px;
	padding-bottom: 11px;
	padding-top: 11px;
	font-weight: bold;
}
.concept{
	width: 1920px;
	height: 1848px;
	display: inline-block;
}
.concept h1{
	font-size: 52pt;
	font-weight: bold;
	text-align: center;
	margin-top: 62px;
	margin-bottom: 62px;
}
.img{
	width: 1170px;
	height: 1445px;
	display: inline-block;
}
.box123{
	height: 1374px;
	width: 368px;
	float: left;
}
.box1{
	width: 368px;
	height: 510px;
}
.box2{
	width: 368px;
	height: 323px;
	margin-top: 39px;
	margin-bottom: 50px;
}
.box3{
	width: 368px;
	height: 451px;
}
.box456{
	width: 368px;
	height: 1379px;
	float: left;
	margin-left: 30px;
	margin-right: 30px;
}
.box4{
	width: 368px;
	height: 405px;
}
.box5{
	width: 368px;
	height: 504px; 
	margin-top: 50px;
	margin-bottom: 50px;
}
.box6{
	width: 368px;
	height: 430px;
}
.box789{
	width: 368px;
	height: 1405px;
	float: right;
}
.box7{
	width: 368px;
	height: 476px;
}
.box8{
	width: 368px;
	height: 336px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.box9{
	width: 368px;
	height: 487px;
}
.more{
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	background: black;
	font-size: 14pt;
    cursor: pointer;
	padding-left: 42px;
	padding-right: 42px;
	padding-bottom: 33px;
	padding-top: 33px;
	font-weight: bold;
	margin-top: 64px;
	margin-left: 489px;
}
.design{
	position: relative;
}
.textbox1{
	position: absolute;
	top: 42%;
	left: 18%;
	width: 400px;
	height: 90px;
}
.text1{
	font-size: 13pt;
	text-align: center;
}
.web{
	font-size: 21pt;
	font-weight: bold;
	text-align: center;
}
.textbox2{
	position: absolute;
	top: 42%;
	left: 39%;
	width: 400px;
	height: 90px;
	z-index: 10;
}
.text2{
	font-size: 13pt;
	text-align: center;
}
.brand{
	font-size: 21pt;
	font-weight: bold;
	text-align: center;
}
.textbox3{
	position: absolute;
	top: 42%;
	left: 60%;
	width: 400px;
	height: 90px;
	z-index: 2;
}
.text3{
	font-size: 13pt;
	text-align: center;
}
.print{
	font-size: 21pt;
	font-weight: bold;
	text-align: center;
}
.touch{
	font-size: 35px;
	font-weight: bold; 
	position: absolute;
	top: 235%;
	left: 43%;
}
.form{
	margin-left: -200px;
}
.full{
	font-size: 15pt;
	color: grey;
}
.border1{
	border-bottom: 1px solid grey;
	margin-top: 20px;
	width: 767px;
}
.add{
	font-size: 15pt;
	color: grey;
}
.border2{
	border-bottom: 1px solid grey;
	margin-top: 20px;
	width: 767px;
}
.your{
	font-size: 15pt;
	color: grey;
}
.border3{
	border-bottom: 1px solid grey;
	margin-top: 20px;
	width: 767px;
}
.mess{
	font-size: 15pt;
	color: grey;
}
textarea{
	width: 767px;
	height: 195px;
	color: grey;
}
.send{
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	background: black;
	font-size: 14pt;
    cursor: pointer;
	padding-left: 58px;
	padding-right: 58px;
	padding-bottom: 22px;
	padding-top: 22px;
	font-weight: bold;
	margin-left: 330px;
	margin-top: 49px;
}
footer{
	width: 1920px;
	height: 664px;
	position: relative;
}
.footer{
	font-size: 35px;
	font-weight: bold;
	position: absolute;
	z-index: 22;
	top: 30%;
	left: 39%;
}
.ex{
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid black;
	width: 430px;
}
.number{
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin-left: -60px
}
.footer img{
	width: 270px;
	margin-left: 90px;
}
.builder{
	font-size: 14pt;
	color: grey;
}